table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  margin-left: 0px
}

td, th {
  font-family: arial, sans-serif;
  border: 1px solid #444444;
  text-align: center;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}