table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  margin-left: 0px
}

td, th {
  font-family: arial, sans-serif;
  border: 2px solid #bbbbbb;
  text-align: center;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #333333;
}

body { background: #333; color: white; } 

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #bbbbbb;
}
